<!DOCTYPE html> 
<html> 
	<head> 
	<title>SmartBar</title> 
	<link rel="stylesheet" href="jquerymobile/jquery.mobile-1.0a4.1.css" />
	<link rel="stylesheet" href="myStyle.css" />
	<script src="json2.js"></script>
	<script type="text/javascript" src="jquery-1.5.2.min.js"></script>
	<script type="text/javascript" src="jquerymobile/jquery.mobile-1.0a4.1.min.js"></script>
</head> 
<body>
   

  <!-- Start of first page -->
  <div data-role="page" id="home">

  	<div data-role="header">
  		<h1>SmartBar - Home</h1>
  	</div><!-- /header -->

  	<div data-role="content">	
  	  <div class="logo center-wrapper"></div>
  	  
  	  <ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b"> 
  			<li data-role="list-divider">SmartBar</li> 
  			<li><a href="#about">About Us</a></li> 
  			<li><a href="#selectLocation">Make an Order</a></li> 
  		</ul>

  	</div><!-- /content -->

  	<div data-role="footer">
  		<h4><%=@footer %></h4>
  	</div><!-- /header -->
  </div><!-- /page -->
















  <!-- Start of second page -->
  <div data-role="page" id="about">

  	<div data-role="header">
  	          <a href="#" class="ui-btn-left ui-btn ui-btn-icon-left ui-btn-corner-all ui-shadow ui-btn-down-b ui-btn-up-b" data-rel="back" data-icon="arrow-l" data-theme="b"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Back</span><span class="ui-icon ui-icon-arrow-l ui-icon-shadow"></span></span></a>
  		<h1>About Us</h1>
  	</div><!-- /header -->

  	<div data-role="content">	
  		<p>Welcome to SmartBar!</p>		
  		<p><a href="#home">Back to Home</a></p>	
  	</div><!-- /content -->

  	<div data-role="footer">
  		<h4><%=@footer %></h4>
  	</div><!-- /header -->
  </div><!-- /page -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  	
  <div data-role="page" id="selectLocation">

  	<div data-role="header">
  	          <a href="#" class="ui-btn-left ui-btn ui-btn-icon-left ui-btn-corner-all ui-shadow ui-btn-down-b ui-btn-up-b" data-rel="back" data-icon="arrow-l" data-theme="b"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Back</span><span class="ui-icon ui-icon-arrow-l ui-icon-shadow"></span></span></a>
  		<h1>Select a Location</h1>
  	</div><!-- /header -->

  	<div data-role="content">	
  		<h3>Which beach will you be visiting?</h3>		


        <!-- document - choice made to put all locations in db instead of hardocded so can be easily changed and 
        te restrucitons too. 
        Some of the restricitons iwll be hard coed because of their variety. 
        -->

        <% @locations.each do |location| %>
        <div id="gotoLocation" data-locationId="<%= location.id %>"><a href="#items<%=location.name.delete(' ') %>" data-id="<%= location.id %>" data-theme="b" data-icon="check" data-role="button"><%= location.name %></a></div>
        <% end %>

  	</div><!-- /content -->

  	<div data-role="footer">
  		<h4><%=@footer %></h4>
  	</div><!-- /header -->
  </div><!-- /page -->
  
  
  
  
  
  
<% @locations.each do |location| %>  
  <div data-role="page" id="items<%=location.name.delete(' ') %>" class="items">

  	<div data-role="header">
  	          <a href="#" class="ui-btn-left ui-btn ui-btn-icon-left ui-btn-corner-all ui-shadow ui-btn-down-b ui-btn-up-b" data-rel="back" data-icon="arrow-l" data-theme="b"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Back</span><span class="ui-icon ui-icon-arrow-l ui-icon-shadow"></span></span></a>
  		<h1>Your purchase</h1>
  	</div><!-- /header -->

  	<div data-role="content">	
  		<h3>Which items would you like to order to <%=location.name %>?</h3>		
      <% LocationItem.where(:location_id => location.id).each do |locationToItem| %>
        <% item = Item.where(:id => locationToItem.item_id).first %>
        
  			<div data-role="collapsible" data-collapsed="true" data-theme="e"> 
  				<h3><%=item.name %> - $<%=item.price %></h3> 
  				<div class="ui-body ui-body-e"> 
      			<img src="<%=item.img %>" />
            <p><%=item.desc %></p> 

      			<a href="#" class="add_to_cart" data-itemID="<%=item.id %>" data-theme="b" data-itemid="<%=item.id%>" data-icon="plus" data-role="button">Add to Cart</a>
      		</div><!-- /themed container -->
  			</div><!-- /collapsible -->
    		        
        
    		<!--div class="ui-body ui-body-e"> 
    			<h1><%=item.name %></h1> 
    			<img src="<%=item.img %>" />
    			<div data-role="collapsible" data-collapsed="true" data-theme="e"> 
    				<h3>Description</h3> 
    				<p><%=item.desc %></p> 
    			</div>
    			
    			<a href="#" class="add_to_cart" data-theme="b" data-itemid="<%=item.id%>" data-icon="plus" data-role="button">Add to Cart</a>
    		</div-->
        		
      <% end %>
      
      <div class="ui-body ui-body-e"> 
        <h1>Shopping Cart</h1>
        <div class="cartItems"><h3>Total: $0</h3></div>
  		</div><!-- /themed container -->
      
      <div class="checkoutButton">
      <a href="#checkout" data-theme="b" data-icon="arrow-r" data-role="button">Proceed to Checkout</a>
      </div>
  	</div><!-- /content -->

  	<div data-role="footer">
  		<h4><%=@footer %></h4>
  	</div><!-- /header -->
  </div><!-- /page -->
<% end %>  
  
  
  
  
  
  
  
  
  <!-- Start of second page -->
  <div data-role="page" id="checkout">

  	<div data-role="header">
  		<h1>Checkout</h1>
  	</div><!-- /header -->

  	<div data-role="content">	
  	  
  	  <div id="notice"></div>

      <div data-role="fieldcontain">
        <form id="orderForm">
          <label for="name">Phone Number:</label>
          <input type="text" name="phone" id="phone" value=""  />
          
          <label for="name">Credit Card Number:</label>
          <input type="text" name="ccnum" id="ccnum" value=""  />
          
          <label for="name">Expiration MM/YY:</label>
          <input type="text" name="month" id="month" value=""  />/<input type="text" name="year" id="year" value=""  /> <div id="expFiller"></div>
          
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" value=""  />
          
          <label for="name">Email:</label>
          <input type="text" name="email" id="email" value=""  />
          
          <input type="hidden" id="location" name="location" />
          <input type="hidden" name="order_json" id="order_json" />
          <input type="hidden" id="total" name="total" />
          
        </form>
      </div>
      <div id="doCheck"><a href="" data-theme="b" data-icon="check" data-role="button">Checkout</a></div>

  	</div><!-- /content -->

  	<div data-role="footer">
  		<h4><%=@footer %></h4>
  	</div><!-- /header -->
  	
  </div><!-- /page -->
  
  
  
  
  
  <!-- Start of second page -->
  <div data-role="page" id="verification">

  	<div data-role="header" data-backbtn="false">
  		<h1>Verification</h1>
  	</div><!-- /header -->

  	<div data-role="content">	
  	  <p>
  	    A confirmation email containing your purchase id has been sent to your address.
  	  </p>
  	  <p>Note that your Purchase ID is: <span id="purchaseCode"></span></p>
    </div><!-- /content -->

  	<div data-role="footer">
  		<h4><%=@footer %></h4>
  	</div><!-- /header -->
  	
  </div><!-- /page -->  
  
  
  <script type="text/javascript">
    $(".ui-btn").live('click', function () { $(this).removeClass('ui-btn-active'); })
    $('.checkoutButton').hide();

    var itemNames = {};
    <% Item.all.each do |item| %>
    itemNames[<%=item.id %>]="<%=item.name %>";
    <% end %>
    
    var itemPrice = {};
    <% Item.all.each do |item| %>
    itemPrice[<%=item.id %>]="<%=item.price %>";
    <% end %>
    
    var toBuy = {};

    function updateCart()
    {
      $('#order_json').val(JSON.stringify(toBuy));
      $('#cart_items').html("");
      var htmlStr = "";      
      var total = 0;
      
      for(k in itemNames)
      {
        if(toBuy[k] && toBuy[k] > 0)
        {                    
          htmlStr += '<a href="#" class="minus_item ui-btn ui-btn-icon-left ui-btn-corner-all ui-shadow  ui-btn-down-b ui-btn-up-b" data-itemid="' + k + '" data-theme="b" data-icon="minus" data-role="button"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">'  + itemNames[k] + " - " + toBuy[k] + " * $" + itemPrice[k] + '</span><span class="ui-icon ui-icon-minus ui-icon-shadow"></span></span></a>';
          
          total += parseInt(itemPrice[k]) * parseInt(toBuy[k]);
        }
      }
      
      htmlStr += "<h3>Total: $" + total + "</h3>";
      $("#total").val(total);
      
      $('.cartItems', $.mobile.activePage).html(htmlStr);
      
      if (total <= 0)
      {
        $('.checkoutButton').hide();
      }
      else
      {
        $('.checkoutButton').show();
      }
      
    }
    
    $('.add_to_cart').live('click', function () {
      var curBeer = $(this).attr('data-itemID');
      if (toBuy[curBeer])
      { 
        toBuy[curBeer]++; 
      }
      else
      {
        toBuy[curBeer]=1;
      }
      updateCart();
    }); 

    $('.minus_item').live('click', function () {
      var curBeer = $(this).attr('data-itemID');
      if (toBuy[curBeer] && toBuy[curBeer]>1)
      { 
        toBuy[curBeer]--; 
      }
      else
      {
        toBuy[curBeer]=0;
      }
      updateCart();
    });

    $('#gotoLocation').live('click', function() {
      $("#location").val($(this).attr('data-locationID'));
    });
    
    $('#doCheck').click(function () {
      $('#ccnum').val( $('#ccnum').val().split(' ').join('').split('-').join('')  );
      $('#phone').val( $('#phone').val().split(' ').join('').split('-').join('')  );
      
      var month = $('#month').val();
      var year = $('#year').val();
      var ccnum = $('#ccnum').val();
      var phone = $('#phone').val();
      var email = $('#email').val();
      var name = $('#name').val();

      var success = true;

      var newHtml = "<ul>";

      if(month.length != 2 || !(month >=0 && month <=12))
      {
        newHtml += "<li>Please enter a valid month.</li>";
        success = false;
      }

      if(year.length != 2 || (year - 0 != year))
      {
        newHtml += "<li>Please enter a valid year.</li>";
        success = false;
      }

      if(ccnum - 0 != ccnum && ccnum.length >= 10)
      {
        newHtml += "<li>Your credit card number should only contain digits.</li>";
        success = false;
      }
      
      if(!phone || phone=="")
      {
        newHtml += "<li>Please enter a phone number.</li>";
        success = false;
      }
      
      if(!email || email=="")
      {
        newHtml += "<li>Please enter an email.</li>";
        success = false;
      }
      
      if(!name || name=="")
      {
        newHtml += "<li>Please enter a name.</li>";
        success = false;
      }
      
      newHtml += "</ul>";
      $("#notice").html(newHtml);

      if(success)
      {
        tryPurchase();
      }
    });
    
    function tryPurchase()
    {
      $.post("/purchase", $("#orderForm").serialize(), 
      function (data) 
      {
        if(data.indexOf("<%=@failure%>") == -1)
        {
          $("#purchaseCode").html(data);
          $.mobile.changePage($("#verification"));
        }
        else
        {
          $("#notice").html("<h3>" + data + "</h3>");
        }
      });
    }

  </script>

</body>
</html>
